@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  background-color: #11131b;
}

h1{
  border-bottom: 10px solid #7c0909;
  display: inline-block;
}
main{
  max-width: 1000px;
  margin: 0 auto;
  align-items: start;
}

nav{
  grid-column: 1 / -1;
  gap: 2rem;
}

.card{
  max-width: 500px;
}

.card__description{
  display: block;
  max-width: 400px;
  word-wrap: break-word;
}

.card__number{
  height: 35px;
  width: 35px;
  display: grid;
  place-content: center;
  background: #fff;
  border-radius: 50%;
}

form{
  width: 100%;
  max-width: 500px;
}

textarea{
  max-height: 120px;
  min-height: 120px;
}
@media screen and (max-width: 456px) {
  nav{
    display: flex;
    flex-direction: column;
  }
  .card__description{
    max-width: 200px;
  }
}